{% extends 'layout.html.twig' %}

{% block content %}
<<<<<<< HEAD
    {% include 'accueil.html.twig' %}
=======
    {% include "accueil.html.twig" %}
    {#<h1>Hello Wilder !</h1>
    <p>Find a complete CRUD example on <a href="/items">/items</a> page.</p> #}
>>>>>>> d8cd02ba36c7f0e7518fb427555b80b88a47702e
{% endblock %}

