.searchbar{
    width: 70%;
}

.searchbar>h3 {
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--h3-size);
}

.essai{
    background-color: var(--primary-color);
    border-radius: var(--border-radius-20);
    display: flex;
    /*width:70%;*/
}

form>input{
   /* width:50%;*/
    border-radius: var(--border-radius-20);
    margin-top:25px;
    margin-bottom:25px;
}

.menuButton{
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius:var(--border-radius-20);
    font-size: var(--button-p-size);
    box-shadow: 0px 5px 25px rgba(75, 190, 169, .3);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    justify-content: left;
}

.menuButton:focus + .dropdown-child{
    display: block;
    visibility: visible;
}

.dropdown{
    position: relative;
    display:inline-block;
    margin: 25px;
}

.dropdown-child{
    display: none;
}

.dropdown-child li a{
    color:var(--dark-color);
    text-decoration:none;
    display:block;
}

.dropdown-child li{
    list-style: none;
}

.menuButton:focus .dropdown-child{
    display:block;
}

.dropdown-child li:hover{
    background-color: var(--primary-color);
}

.button-1{
    color:var(--tertiary-color);
    margin-right:35px;
}