.dark-mode-body h1, .dark-mode-body p, .dark-mode-body  {
    background-color: var(--bg-dark);
    color: var(--lightDark-color) !important;
   }
/*.dark-mode-navbar-footer{
    background-color: var(--lightDark-color) !important;
    color:var(--dark-color) !important; 
}

