.uk-navbar-container:not(.uk-navbar-transparent){
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
}

   

.uk-navbar-nav>li>a {
    color: var(--primary-color);
    font-weight: 400;
    text-transform: none;
    font-size:var(--h5);
    font-weight:500;
}     
.uk-navbar-left, a {
    margin-right: 1rem;
   
}
.uk-navbar-nav>li>a:hover{
    color:var(--tertiary-color);

}
.uk-navbar-nav>li>a:active{
 color:var(--light-color);
}

.uk-button {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: var(--button-p-size);
    border-radius: var(--border-radius-20);
    box-shadow: 0px 5px 25px rgba(75, 190, 169, .3);
}
.button {
    color:white;
}   
#button-dark{
    background-color: var(--tertiary-color);
    text-align:center;
    margin-top: 1rem;
    width: 10vw;
    height: auto;
    font-size: 8px;
}
.uk-link {
color: var(--light-color);
align-self: center;
}
.uk-button:not(:disabled){
background-color: var(--tertiary-color);
text-align:center;
margin-top: 1rem;
width: 28vw;
font-size: var(--button-p-size) ;
}
li, a:hover{
color:var(--light-color);
text-decoration: none;
}
.inscrip>li>a { 
    
    color: var(--primary-color); 
}
.inscrit{
    align-self: center;
    margin-right: 1rem;
}    
.inscrit>li>a:hover{
    color:var(--tertiary-color);
}    
.inscrit>li>a:active{
    color:var(--light-color);
   }

.uk-link,a{
    color:var(--light-color)
}
.uk-link,a:hover{
    color:var(--primary-color)
}