@import url('https://fonts.cdnfonts.com/css/poppins');
@import './variables.css';
@import './_login.css';
@import './_reportform.css';
@import './_searchbar.css';
@import './accueil.css';
@import './card.css';
@import './contact_form.css';
@import './deposer-une-annonce.css';
@import './detail-annnonce.css';
@import './dropdown-menu.css';
@import './mentionlegales.css';
@import './stylefooter.css';
@import './stylenavbar.css';
@import './toggle-switch.css';
@import './trouver-proposer.css';
@import './dark-mode.css';
/*@import './repondreannonce.css';
/*@import './error.css';*/