:root {
    /* Couleurs */
    --light-color: #FAFAFA;
    --dark-color: #003D32 !important;
    --primary-color: #4CBFAA;
    --secondary-color: #F1AB91;
    --tertiary-color: #F05A56;
    --p-color: #121212;
    --p-color-muted: #8D8D8D;
    --h-color: #003D32;
    /* Titres et texte */
    --h1-size: 4.5rem;
    --h2-size: 3.75rem;
    --h3-size: 3rem;
    --h4-size: 2.25rem;
    --h5-size: 1.5rem;
    --button-p-size: 1.75rem;
    --p-size-desktop: 1rem;
    --p-size-mobile: 0.85rem;
    /* Effets */
    --border-radius-20: 0rem 1.25rem 0rem 1.25rem;
    --border-radius-40: 0rem 2.5rem 0rem 2.5rem;
    --border-radius-80: 0rem 5rem 0rem 5rem;
}

body {
    background-color: var(--light-color);
    min-height: 100vh;
    font-family: Poppins;
}

p {
    color: var(--p-color);
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    font-size: var(--p-size-desktop);
    text-align: left;
}

p .italic {
    color: var(--p-color);
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    font-size: var(--p-size-desktop);
    text-align: left;
    font-style: italic;
}

p>a {
    color: var(--primary-color);
    font-family: Poppins;
    font-weight: 400;
    line-height: 26px;
    font-size: var(--p-size-desktop);
    text-align: left;
    text-decoration: underline;
    font-style: italic;
}

/* Boutons */

.button-1 {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: var(--button-p-size);
    border-radius: var(--border-radius-20);
    box-shadow: 0px 5px 25px rgba(75, 190, 169, .3);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.button-1:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-size: var(--button-p-size);
    border-radius: var(--border-radius-20);
    box-shadow: 0px 5px 25px rgba(241, 171, 145, .3);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

