<footer class="uk-footer">
<a class="uk-logo" href="">
    <img src="assets\images\logo-strashelp-300px.png" width="250" height="250" alt="logo">
</a>
  <div class="uk-footer-left">
	
<ul>
        <p> Pages Principales</p>
    <li><a href="/" >Accueil</a></li>
	<li><a href="/annonces">Annonces</a></li>
	<li><a href="/contact">Contact</a></li>
</ul></div><div class="uk-footer-right">
<ul >
    <p>Pages secondaires</p>
	<div>
    <li><a href="/inscription">inscription</a></li>
	<li><a href="/connexion">connexion</a></li>
    <li><a href="/mention légales">Mentions légales</a></lu></div>
</footer>
</ul></div></footer>
