<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-left">
		<a class="uk-logo" href="#" onclick="easterEgg();"><img src="assets\images\logo-strashelp-300px.png" width="150" height="150" alt=" logo" id="logo-image"></a>
		<ul class="uk-navbar-nav">
			<li>
				<a href="/">Accueil</a>
			</li>
			<li>
				<a href="/annonces">Annonces</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
			<li>
				<button class="uk-button uk-button-default" id="button-dark">
					dark mode</button>
			</li>
		</ul>
	</div>
	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
			<li>
				<button class="uk-button">
					<a class="button" href="/deposer-une-annonce">Déposer une annonce</a>
				</button>
			</li>
		</ul>
		{% if session.user_id %}		
				<a href="">Profil</a>
				<div class="div-modale_profil uk-navbar-dropdown" uk-dropdown="mode: click">
					<ul class="uk-nav uk-navbar-dropdown-nav">
						<li>
							<a href="" class="liens-modale_profil">Informations personnelles</a>
						</li>
						<li>
							<a href="" class="liens-modale_profil">Le Nid</a>
						</li>
						<li>
							<a href="/logout" class="liens-modale_profil">Déconnexion</a>
						</li>
					</ul>
				</div>			
		{% else %}
			<div class="inscrit">
				<li>
					<a href="#modal-center-1" data-uk-toggle=" #modal-center " uk-toggle>Connexion</a>
				</li>
				<li>
					<a href="#modal-center-2" data-uk-toggle=" #modal-center " uk-toggle>Inscription</a>
				</li>
			</div>
		{% endif %}
	</div>
</nav>
