<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-left">
	<a class="uk-logo" href="">
    <img src="assets\images\logo-strashelp-300px.png" width="150" height="150" alt="logo">
</a>
	<ul class="uk-navbar-nav">
    <li><a href="/" >Accueil</a></li>
	<li><a href="/annonces">Annonces</a></li>
	<li><a href="/contact">Contact</a></li>
</ul></div><div class="uk-navbar-right">
<ul class="uk-navbar-nav">
	<li><button class="uk-button"><a class button href="/deposeruneannonce">Déposer une annonce</a></button></li>
	 <div class="inscrit">
    <li><a href="#modal-center-1" data-uk-toggle=" #modal-center " uk-toggle>inscription</a></li>
	<li><a href="#modal-center-2" data-uk-toggle=" #modal-center " uk-toggle>connexion</a></li>
</ul>
</div>
</nav>
