<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-left">
	<ul class="uk-navbar-nav">
    <li><a href="/" >Accueil</a></li>
	<li><a href="/annonces">Annonces</a></li>
	<li><a href="/contact">Contact</a></li>
</ul></div><div class="uk-navbar-right">
<ul class="uk-navbar-nav">
	<li><button class="uk-button"><a class button href="/deposeruneannonce">Déposer une annonce</a></button></li>
	 <div class="inscrip">
    <li><a href="/inscription">inscription</a></li>
	<li><a href="/connexion">connexion</a></li>
</ul></div></nav>
