<section class="reportSection">
    <div id="modal-center-1" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog container  uk-modal-body uk-margin-auto-vertical">
<button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="report">
        <h2>Signalez une annonce</h2>
            <p>Pourquoi signalez-vous cette publication ?</p>
                <form action="" method="post">
                    {% for report in reports %}
                    <li>{{ report.report_reason }}</li>
                    {#<input type="radio" name= {{ report.id }} checked>
                        <label for="test"> {{ report.report_reason }} </label>#}
                    {% endfor %}
                        <div class="form-button">
                            <input type="submit" name="loginButton" value="Envoyez" class="button-1 login-submit">
                        </div>
                </form>
</div>
</div>
    </div>
</section>
