<section class="reportSection">
    <div class="report">
        <h2>Signalez une annonce</h2>
            <p>Pourquoi signalez-vous cette publication ?</p>
                <form action="" method="post">
                    <input type="radio" name="test" checked>
                    <label for="test">Test</label>
                        <div class="form-button">
                        <input type="submit" name="loginButton" value="Envoyez" class="button-1">
                        </div>
                </form>

    </div>
</section>