<section class="searchbar">
    <h3>Que recherchez-vous ?</h3>
        <form action="" method="GET" class="essai">

            <div class="dropdown">
                <select class="menuButton">Catégorie</select>
                        {% for categorie in categories%}<option  class="dropdown-child">{{ categorie.name }}</option> {% endfor %}
            </div>
                <input type= "search" placeholder="Entrez votre recherche">
                <input type="submit" class="button-1" name="sendSearch" value="Rechercher">
        </form>
</section>