{% extends "layout.html.twig" %}

{% block content %}
<section class="uk-section uk-container-medium">
    <div>
	    <h3 class="h3_dashboard">Gestion des catégories</h3>
        <p class="description_dashboard uk-align-center">Ici, vous pourrez ajouter ou supprimer une catégorie, la liste complète y est inscrite ici.</p>
    </div>
    <!-- Ajout d'une nouvelle catégorie -->
    <form class="uk-width-2-3 uk-align-center" method="POST" name="">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Ajoutez ici une nouvelle catégorie</legend>
        <div class="uk-margin">
            <input class="uk-input input_ajout-category" type="text" placeholder="Nom de la nouvelle catégorie..." aria-label="Input" name="newCategory">
        </div>
    </fieldset>
</form>
    <!-- Table gestion des catégories -->
    <div class="uk-width-expand">
    <table class="uk-table uk-table-justify uk-table-divider">
    <thead>
        <tr class="th_gestion-des-categories">
            <th class="uk-width-small" name="">Id</th>
            <th class="uk-width-expand" name="">Catégorie</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="td_gestion-des-categories uk-width-small">1</td>
            <td class="td_gestion-des-categories uk-width-expand">Nom de la catégorie</td>
            <td><a href="" class="uk-button uk-button-default uk-flex uk-flex-middle button_supprimer" type="button">Supprimer</a>
</td>
        </tr>
    </tbody>
</table>

    </div>
</section>
{% endblock %}