<section class="uk-section">
    <div class="uk-align-center">
        {% include "Components/_searchbar.html.twig" %}
    </div>
    <div class="uk-align-center uk-width-expand uk-margin-large-bottom">
    <h4 class="title_les-dernieres-annonces">Les dernières annonces</h4>
    {% include "Components/_card.html.twig" %}
    </div>
    <div>
    {% include "Components/_trouver-proposer.html.twig" %}
    </div>
<div uk-grid class="uk-container-large uk-flex-middle notre-demarche">
    <div class="uk-width-1-2@l uk-align-center" ><img src="assets\images\logo-strashelp-300px.png"width="450px" height="300px" alt="logo"></div>
    <div class="uk-width-1-2@l uk-container-medium uk-align-center">
        <h5>Notre démarche</h5>
        <p>La démarche de notre société s'engage à développer au quotidien, l'aide, l'entraide des habitants de strasbourg et de sa périphérie. Ce site a pour but d'offrir l'échange de divers services ou plus simplement à titre bénévole. Nous faisons donc appel au personnes bienveillantes qui ont de la disponibilité. pour qui l’écoute, faire preuve de compréhension et d’empathie semble évident. Venez donc nous rejoindre pour essayer d'améliorera à notre échelle, un peu ce monde.Notre Charte Éthique inspire nos choix, nous aide à prendre de meilleures décisions. C’est un défi permanent, mais aussi une fantastique opportunité de nous améliorer sans cesse. L’Éthique nous guide. Elle nous aide à répondre aux questions importantes, sur ce que nous faisons ou pas. Elle renforce notre rôle dans la société. L’Éthique est également ce sur quoi nous nous appuyons en l’absence de cadre juridique. En nous demandant simplement quelle est la bonne chose à faire, nous y voyons plus clair et prenons de meilleures décisions.</p>
    </div>
</div>
</section>